body {
    font-family: Inter, sans-serif;
}
.far.fa, .far, .fas { 
    font-weight: 600 !important;
    font-size: 20px;
}
/* Header Styling started */
.header-top {
	margin-bottom: 30px;
	border-bottom: 2px solid #dfdfdf;
}
.header-top-button span {

	float: left;
    margin-right: 10px;
    padding: 12px 20px;
    background: #f55;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 17px;
}
.header-top-left-nav-icons {
	margin: 0;
    display: flex;
    align-items: center;
}
.header-top-left-text {
    display: flex;
    align-items: center;
}
.header-top-right {
    display: flex;
    align-items: center;
}
.header-top-left-text marquee {
	margin: 0;
	padding: 0;
}
.header-top-left {
	display: flex;
	justify-content: space-between;
}
.header-top-left-nav-icons span {
	border:  1px solid black;
}

.header-top-right-row {
	display: flex;
}
.header-top-right-icons  {
	display: flex;
	justify-content: space-between;
}

.header-top-right-icons ul {
	display: flex;
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.header-top-right-icons ul li a {
	padding: 5px;
}
.block { 
	margin:  0  10px;
 }


 /* Mid row styling */
 .center-logo h4 {
    font-family: Inter, sans-serif;
 	margin-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    /* margin: 3px; */
    font-size: medium;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    /* margin-left: 41px; */
    word-spacing: 1px;
    text-align: center;
    /* margin-bottom: 10px; */
    color: #2d2e2d;
 }
.header-mid-row {
	padding: 28px;
} 
.header-mid-logo-left .left-logo img{
	width: 160px;
}
.header-mid-logo-right .right-logo img {
	width: 100px;
}
.header-mid-logo-center .center-logo{
	    margin-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
        word-spacing: 1px;
    text-align: center;
    /* margin-bottom: 10px; */
    color: #2d2e2d;
}
.header-mid-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Top Bottom styling */
.header-navigation {
	background-color: #f8f9fa;
}



/* Navigation styles started*/

.top-navbar-section .nav-items {
    display: flex;
    align-items: center;
}
.top-navbar-section  .nav-item:last-child {
    margin-right: 0;
}
.top-navbar-section {
    background-color: #e9ede9;
}
.top-navbar-section .nav-item {
    margin-right: 15px;
    padding: 25px 10px;
    position: relative;
}
.top-navbar-section .nav-items-wrap {
    position: absolute;
    z-index: 9999999;
    background: white;
    box-shadow: 0px 0px 4px -1px;
    width: 100%;
    display: none;
    left: 0px;
    padding: 0;
    top: 68px;
    min-width: fit-content;
}

.top-navbar-section .nav-item-wrap {
    white-space: nowrap;
}
.top-navbar-section .nav-item-wrap {
    padding: 15px 20px;
    border-bottom: 1px solid #e5e5e5;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
}
.top-navbar-section .nav-items-innerwrap {
    position: absolute;
    right: -146%;
    top: 0;
    min-width: 311px;
    background: #e9ede9;
    display: none;
}
.top-navbar-section .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-navbar-section .nav-item:hover > .nav-items-wrap{
    display: block;
}
.top-navbar-section .nav-item:hover {
    background-color: 	rgb(255,255,255,0.5);
    transition: all ease-in-out 0.3s;
}
.top-navbar-section .nav-item-wrap:hover > .nav-items-innerwrap{
    display: block;
}
.top-navbar-section .nav-item span {
    font-family: Inter, sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    color: #454b50;
}
.top-navbar-section .nav-item-wrap:hover{
    background-color: #1091ff;
    transition: all ease-in-out 0.3s;
}
.top-navbar-section .ner-wrap {
    right: -100%;
}
.top-navbar-section .nav-items-innerwrap {
    background: white;
    box-shadow: 0px 0px 4px -1px;
}
.top-navbar-section .program .nav-items-innerwrap {
    right: -126%;
}
.top-navbar-section .resources .nav-items-innerwrap {
    right: -112%;
}

/* Navigation styling ended */



/* Header styling ended */


/* Bottom Slider , Boxed Cards like slider used slick  */

.slider-card-box{
    border-radius: 0.375rem;
    background-color: #fff;
    box-shadow: 5px 8px 28px rgb(23 23 36 / 10%);
    margin: 0 10px;   
}
.slider-card-box.box-1 {
	background-color: green;
}
.slider-card-box.box-2 {
	background-color: gray;
	
}
.slider-card-box.box-3 {
	background-color: blue;
	
}
.slider-card-box.box-4 {
	background-color:orange;
	
}

/* Bottom slider styling updated */

/*footer styling started*/
.left-icon svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    fill: white;
}
.left-icon {
    max-width: 13px;
}
.second-left-icons {
    background: #FFFFFF12;
    max-width: 37px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 37px;
    margin-right: 10px;
}
.upper-second-left {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 203px;
}
.upper-first-right {
    display: flex;
    align-items: center;
    max-width: 424px;
    height: 56px;
    width: 100%;
}
.upper-first-right input {
    width: 100%;
    height: 100%;
    border: 0;
    padding-left: 20px;
}
.upper-first-right input::placeholder {
    color: #DCDEDF;
}
.upper-first_right {
    max-width: 424px;
    height: 56px;
    width: 100%;
}
.footer input[type="email"] {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 1px;
}
.footer .form-wrap {
    display: flex;
    margin-bottom: 10px;
}
.first-right-button a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-right-button{
    background-color: #DCDEDF;
    width: 100%;
    max-width: 110px;
    height: 50px;
}
.first-right-input {
    width: 100%;
    height: 100%;
    flex: 1;
}

.footer-top {
    background-color: #17222B;
}
.footer-upper-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.footer-top-row {
    border-bottom: 2px dashed #3A434B;
    padding: 0 10px 49px;
}

.footer-row {
    padding: 75px 0 60px;
}

.upper-second-right {
    color: #FFF6;
    max-width: 424px;
    width: 100%;
}
.footer-upper-second-row {
    display: flex;
    justify-content: space-between;
}
.rl-title {
    color: #FFF;
    font-family: "Heebo", Sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 0 0 0 0;
    margin: 0 0 25px 0;
}
.rl-text {
    color: white;
    font-size: 14px;
}
.row-left-second li {
    list-style: none;
    margin-bottom: 10px;
}
.rl a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}
.rl ul {
    margin: 0;
    padding: 0;
}
.row-left-third li {
    margin-bottom: 15px;
}
.footer-bottom-row-left {
    display: flex;
    padding-top: 10px;
    padding-right: 37px;
}
.rl {
    margin-right: 35px;
    width: 100%;
}
.rl:last-child {
    margin-right: 0;
}
.footer-bottom-row {
    padding: 65px 10px 0;
    display: flex;
    flex-direction: row;
}
.footer-bottom-row-right {
    color: white;
}
.footer-bottom-row-right {
    color: white;
    border-left: 2px dashed #3A434B;
    padding-left: 72px;
    padding-bottom: 25px;
    padding-top: 10px;
}
.row-left-third {
    max-width: 168px;
}
.row-left-second {
    max-width: 233px;
}
.b-rra-address-title {
    font-size: 20px;
    font-weight: 600;
}
.bottom-row-right-address {
    display: flex;
    color: white;
    margin-right: 7px;
}
.b-rra-rich-text {
    font-size: 17px;
}
.brra-title{
    margin-bottom: 25px;
}
.row-left-first {
/*  */
}
.alpha {
    color: #FFF6;
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 510px;
    padding-right: 20px;
}
.footer-bottom {
    background: #232D36;
    padding: 35px 0;
}
.footer-bottom-wrapp {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.bottom-footer-main-links {
    color: #FFF6;
    text-decoration: none;
    margin: 0 20px;
}
.bottom-footer-main-links:hover {
    color: #0d6efd;
    transition: all ease-in-out 0.2s;
}
.slider-card-box {
    padding: 30px 38px;
    border-radius: 0.375rem;
}
.bottom-programs-slider-card-logo svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    fill: white;
}
.bottom-programs-slider-card-logo {
    max-width: 64px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.bottom-programs-slider-card-heading-wrap {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.bottom-programs-slider-card-text-wrap {
    color: #fff;
    font-size: 17px;
    margin: 0;
}
.slider-card-box.three {
    background-color: #ffffff;
}
.slider-card-box.three .bottom-programs-slider-card-heading-wrap {
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
}
.slider-card-box.three .bottom-programs-slider-card-text-wrap {
    color: #000;
}
.slider-card-box.three .bottom-programs-slider-card-logo svg {
    fill: #000;
}
.programs-section {
    margin-bottom: 30px;
    position: relative;
}
.programs-section h1 {
    font-size: 24px;
    margin-bottom: 22px;
    margin-left: 10px;
}
.header-mid-logo-left .left-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header-mid-logo-left .left-logo a {
    display: block;
    max-width: 250px;
}
.header-mid-logo-right {
    max-width: 250px;
    width: 100%;
    flex: 250px;
    display: flex;
    justify-content: flex-end;
}
.header-mid-logo-right .right-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header-mid-logo-right .right-logo a {
    display: block;
    max-width: 105px;
}

.b-rra-addresss-icon {
    margin-right: 10px;
}

/* footer styling ended */



/* main-carousel slider */
.main-carousel{
  background:#ccc;
}
.main-carousel {
  font-family:Arial;
  width:500px;
  display:block;
  margin:0 auto;
}
.main-carousel h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.main-carousel .action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.main-carousel .action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.main-carousel .action a:hover{
  background:#000;
}

.slick-prev:before, .slick-next:before {
    /*  */
}

.slick-slide img {
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.main-carousel {
    width: 100%;
}
.slider-nav .slick-track {
    height: 75px !important;
}
.slider-nav  .slick-slide{
    width: 75px;
}
/* .slick-prev:before {
    content: '<' !important;
}
.slick-next:before {
    content: '>' !important;
} */

#pills-tab {
    justify-content: space-between;
    width: 100%;
}
.nav-pills .nav-item {
    background-color: #ffffff;
    box-shadow: 0 10px 40px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 0 10px 40px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 10px 40px rgb(0 0 0 / 15%);
    width: 100%;
    max-width: 110px;
}
.nav-pills .nav-link {
    font-family: Inter, sans-serif;
    width: 100%;
    border-radius: 0;
    background: #fff;
    font-size: 9px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}
.nav-link-custom {
    padding: 4px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tab-content .panel-wrapper {
    display: flex;
    margin-bottom: 20px;
}
.tab-content  .alpha {
    width: 100%;
    max-width: 38%;
}
.tab-content  .alpha .image {
    border-radius: 5px;
    overflow: hidden;
}
.tab-content .beta {
    width: 62%;
    padding: 5px 0;
}
.tab-content .beta .title {
    color: #000;
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.2;
}
.tab-content .beta .title-link {
    text-decoration: none;
}
.panel-wrapper .beta .title-link .title {
    font-weight: 500;
}
.tab-content  .beta .lower-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
}
.tab-content .beta .lower-content-left {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #2095F3;
    line-height: 21px;
}
.tab-content .beta  .lower-content-date {
    color: #515A60;
    font-size: 13px;
    text-transform: capitalize;
}
.top-navbar-section {
    margin-bottom: 50px;
}
.main-carousel .slick-prev.slick-arrow {
    left: 0;
    box-shadow: 0 10px 40px rgb(0 0 0 / 15%);
    font-weight: 900;
    color:black;
    font-weight: 300;
    font-family: 'Font Awesome 5 Pro';
    font-size: 10px;
}
.main-carousel .slick-next.slick-arrow {
    box-shadow: 0 10px 40px rgb(0 0 0 / 15%);
    right: 0;
    font-weight: 900;
}
.main-carousel .slick-arrow {
    background: #fff !important;
    width: 30px;
    height: 100%;
    position: absolute;
    z-index: 999;
    margin-top: 0.1px;
}
.main-carousel .contents-wrap {
    position: absolute;
    width: 100%;
    padding: 40px;
    bottom: 0;
    z-index: 99;
    color: #fff;

    background-color: transparent;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: .8;

}
.main-carousel .pre-title {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.main-carousel .contents-wrap .title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px; 
    color: #fff;
}
.main-carousel .text {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
}

.programs-section .slick-arrow {
    border: 1px solid #eee;
    padding: 10px;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -40px;
}
/* .programs-section .slick-prev:before, .programs-section .slick-next:before {
    
    content: 'f105';
} */
.slick-prev:before {
    content: none !important;
}
.slick-next:before {
    content: none !important;
}
.programs-section .slick-prev , .programs-section  .slick-next {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.arrow-left-12345:before {
    color: #87878742;
}
.arrow-right-12345:before {
    color:#87878742;
}
.programs-section .slick-prev {
    right: 50px;
    left: unset;
    width: 30px;
    height: 30px;
    text-align: center; 
    line-height: 30px;
    border: 1px solid #c1c4c6;
    color: #c1c4c6;
    transition: all .3s;
}
.programs-section .slick-next {
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #c1c4c6;
    color: #c1c4c6;
    transition: all .3s;
}
.programs-section .slick-prev:before,.programs-section  .slick-next:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/*  bottom map styles start */
#Layer_2{
    transform: rotateZ(31deg);
    position: absolute;
    top: 20%;
    right:0;
    width: 50%;
    bottom: 0;
    }
    .cls-1{
    fill: rgb(131, 5, 5);
    stroke-dasharray: 5,5;
    z-index: 1;
    }
    .cls-1:hover{
        fill:rgb(255, 16, 16);
    }
    .card_district
    {
        box-shadow: 5px 18px 48px #0e0d0e8a !important;
        border-radius: 1vh !important;
        z-index: 1000;
        display: none;
        margin-top: 5%;
        padding: 3%;
        margin-left: 5%;
    }
    .map-container{
        height:34rem;
    }
    .progress_tag
    {
        width:60%;
    }
    @media screen and (min-width: 1300px){
        .map-container{
        height:40rem;
        }
        
    }
    @media screen and (max-width: 768px) {
        #Layer_2{
        right:-10%;
        width: 60%;    
        }
        .map-container{
        height:29rem;
        }
    }
    @media screen and (max-width: 500px) {
        .map-container{
        height:20rem;
        }
        #Layer_2{
        right:-20%;
        width: 70%;
        }
        .card_district{
            font-size:12px;
            margin-top:0;    
        }
        #card{
            font-size:15px;    
        }
    }
/* bottom map styles end */



/* responsivness start */
@media (max-width: 1100.98px) {
    .right-pills-col {
        display: none;
    }
    .left-pills-col {
        width: 100%;
    }
    .footer-bottom-row {
        display: flex;
        flex-direction: column;
    }
    .footer-bottom-row-right {
        border:0;
    }
    .footer-bottom-wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-bottom-wrapp .alpha {
        text-align: center;
    }
}

@media (max-width: 870.98px) {
    
    .footer-bottom-row-left {
        display: flex;
        flex-direction: column;   
    }
    .footer-bottom-row-right {
        border:0;
    }
    .footer-bottom-wrapp {
        display: flex;
        flex-direction: column;
    }
    .footer-bottom-wrapp .alpha {
        text-align: center;
    }
}
/* responsivness end */